In [1]:
# import libraries
import os
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# read in dataset and split it to 80% training data and 20% testing data
diabetes = pd.read_csv('./dataset_diabetes/diabetic_data_clean.csv')
train_set, test_set = train_test_split(diabetes, test_size = 0.2)

In [3]:
train_set.head(10)

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,metformin,glimepiride,glipizide,glyburide,pioglitazone,rosiglitazone,insulin,change,diabetesMed,readmitted
10245,AfricanAmerican,0,85,1,18,7,2,39,1,8,...,0,0,0,0,0,0,0,0,0,1
741,AfricanAmerican,0,25,1,1,7,3,11,1,13,...,0,0,0,0,0,0,3,1,1,0
17931,Caucasian,1,55,6,25,17,1,26,0,7,...,0,0,0,0,0,0,2,0,1,0
26355,Caucasian,0,85,2,1,1,5,37,3,8,...,0,0,0,0,0,0,0,0,0,0
43278,AfricanAmerican,1,65,3,1,1,2,26,1,24,...,2,0,2,0,0,0,0,1,1,0
50209,Caucasian,0,75,3,1,1,1,2,1,16,...,2,0,0,0,0,0,0,0,1,0
53929,Caucasian,1,85,3,2,1,10,50,0,25,...,0,0,2,0,0,0,0,0,1,0
52436,Caucasian,0,55,1,11,7,2,72,0,4,...,0,0,0,0,0,0,0,0,0,0
16586,Caucasian,0,55,3,1,1,5,39,0,17,...,0,0,0,0,0,0,0,0,0,0
58616,AfricanAmerican,1,85,1,1,7,4,30,0,8,...,0,0,0,0,0,0,1,1,1,1

In [4]:
train_set.shape

(57214, 29)

In [5]:
test_set.shape

(14304, 29)

In [6]:
# save splited data to files
train_set.to_csv('./dataset_diabetes/diabetic_data_train.csv', index = False)
test_set.to_csv('./dataset_diabetes/diabetic_data_test.csv', index = False)

In [7]:
train_saved = pd.read_csv('./dataset_diabetes/diabetic_data_train.csv')
train_saved.shape

(57214, 29)